#Exemplo python (feito em sala de aula)
[Aula de introdução](https://colab.research.google.com/github/luiscarlosjunior/100-days-of-code/blob/master/Intro%20Python.ipynb)

# Aula 07 - Medidas separatrizes - Intro python
## Iníciando a análise de dados em python



---

## Introdução

Olá pessoal, espero que estejam todos bem. Neste notebook iremos iniciar as nossas primeiras análises e começar a realizar nossas hipóteses. para fins de aprendizado e a facilidade de poder compartilhar com a classe. Nosso projeto será desenvolvido no google colaboratory, podemos mesclar células contendo textos em formato markdown e células de código, além de não precisarmos instalar nada. Vamos para alguns testes.



---

Vamos iniciar com alguns comandos básicos em python. Como declarar e exibir uma variável

Para rodar o código basta pressionar shift+enter ou clicar no botão ao lado com um icone de play.

In [0]:
idade = 25
nome  = 'Jorges'

In [0]:
print('A idade é de', idade, ' o nome é', nome)

A idade é de 25  o nome é Jorges

Bom, isso só foi um teste para vermos o comportamento do notebook, para mais informações sobre a linguagem python, sugiro esse site que explica de uma forma bem prática e com vários exemplos: https://www.w3schools.com/python/default.asp

# Vamos fazer uma média simples
Até nesse momento do curso, aula 07, aprendemos algumas coisas importântes para a análise de dados, desde a introdução a estatística até as medida separatrizes. Aqui vamos começar com o cálculo simples da **média aritmética.**

Sem ajuda de nenhuma biblioteca, como poderiamos inserir esses dados e depois fazer a média?

In [0]:
# Cria uma lista comum em python
idades = [10, 15, 12, 13, 12, 15, 12]

# vamos exibir todos os nomes
for x in idades:
  print(x)

10
15
12
13
12
15
12

Com a lista criada de idades, teremos que fazer a média de uma forma 'manual'.

In [0]:
soma = 0

# Fazer um laço para somar todos as idades
for x in idades:
  soma += x

# Pegar a quantidade de itens
quantidade = len(idades)

# Fazer a média
print('A média é ', round(soma/quantidade, 2))

A média é  12.71



---

Posto isso, para realizarmos somente a média tivemos que usar vários recursos da linguagem, porém, com a sociedade precisando otimizar seu tempo torna-se impensavel realizar todos essas passos para fazermos uma operação simles e com base de dados cada vez maiores, fica claro a necessitade de usarmos alguma biblioteca já testada e especifica para esses tipos de coisas.



---
Nesta primeira aula (python), iremos iniciar com as biblioteca NumPay e Pandas, duas bibliotecas muito utilizadas na area de ciência de dados e análise de dados.

# Começando com Pandas
Breve introdução https://pandas.pydata.org/

> Pandas é uma ferramenta de análise e manipulação de dados de código-fonte aberto rápida, poderosa, flexível e fácil de usar, construída sobre a linguagem de programação Python.
Para usar alguma bilbioteca em python, basta usar o comando
>> **import** nome_biblioteca **as** apelido

In [0]:
# importando a biblioteca pandas e atribuindo um apelido para ser usado posteriormente
import pandas as pd

In [0]:
#Criou uma série (conjunto)
idades = pd.Series([10, 15, 12, 13, 12, 15, 12])
#print(idades)
print(idades.describe())

count     7.000000
mean     12.714286
std       1.799471
min      10.000000
25%      12.000000
50%      12.000000
75%      14.000000
max      15.000000
dtype: float64

Depois de importado, podemos começar a usar



---

### Importando dados de alunos
Para isso, temos várias formas de importar, existem vários sites especializados que contém datasets alguns sites são: 

1.   https://datahub.io/
2.   https://dados.gov.br/

Segue indicação de leitura: [Os 7 melhores sites para encontrar datasets para projetos de Data Science](https://paulovasconcellos.com.br/os-7-melhores-sites-para-encontrar-datasets-para-projetos-de-data-science-8a53c3b48329)



---
## Por enquanto só estamos começando, então vamos usar um dataset criado para essa aula.
Temos algumas formas de importar esses dados, mas por enquanto vamos usar somente as opções que o pandas oferece.
Você poderá encontrar os dados nesse link


*   [Pasta no github com os datassets](https://github.com/luiscarlosjunior/aulas-graduacao/tree/master/Analise%20de%20dados/datasets)
*   [Link direto dos dados usado na aula de hoje](https://raw.githubusercontent.com/luiscarlosjunior/aulas-graduacao/master/Analise%20de%20dados/datasets/csv/resumoAlunos.csv)

Para podermos usar os dados, temos que clicar no arquivo .csv, irá ser aberto uma janela com os dados, depois que isso acontecer, procure pelo botão **raw** e clique nele, voce será direcionado para uma nova janela que aparecerá os dados. Agora é só copiar o link que começa com **https://raw.github...** e colar no método que iremos usar. Segue o exemplo abaixo



---



---

In [0]:
# Passamos o link e qual é o separador utilizado, por padrão o separador é a virgula, mas aqui estamos usando o ';', por isso passamos
alunos = pd.read_csv('https://raw.githubusercontent.com/luiscarlosjunior/aulas-graduacao/master/Analise%20de%20dados/datasets/csv/resumoAlunos.csv', sep=';')

Depois de importando para variável, essa variável irá ser do tipo **DataFrame** (padrão pandas). 
Um DataFrame é basicamente um conjunto de Series. É uma estrutura de dados de 2 dimensões — colunas e linhas — que transforma os dados em uma tabela que contém muitos recursos.

### Recurso de ajuda
Uma das vantagens do python e suas bibliotecas é a ampla documentação, podemos  consultar a documentação para obter mais informações, mas podemos fazer isso sem sair do notebook para tirar algumas dúvidas mais simples.

Podemos consultar o ***docstring*** das funções e métodos, executando na célula um **?** na frente da chamada, uma janela é aberta ao lado com as informações resumidas. Vamos a alguns exemplos.

In [0]:
# Lendo as informações de um determinado método
alunos.head?

In [0]:
# Lendo a documentação do tipo
alunos?

### Visualizar os dados
Para podermos visualizar os dados de uma forma simples, vamos usar a função '**head()**', por padrão é retornado as 5 primeiras linhas, mas podemos personalizar passando por parametro a quantidade que desejamos. Segue o exemplo abaixo:

In [3]:
# Por padrão é exibi 5 itens
alunos.head()

            RA Primeiro Nome  ...     Genero   Periodo
0  63227467787         Aaron  ...  Masculino  Matutino
1  55774275097       Abigail  ...   Feminino  Matutino
2  76059134116          Adam  ...  Masculino  Matutino
3  64295541703        Agatha  ...  Intersexo  Matutino
4  71033266097          Alan  ...  Masculino  Matutino

[5 rows x 11 columns]

In [0]:
# Agora só será exibido 2 itens
alunos.head(2)

Ok, depois de confirmamos que importamos os dados e exibimos, podemos começar a trabalhar neles.

## Comandos básicos em pandas

Neste capitulo, vamos ver alguns comandos básicos mais utilizados para nos ajudar a começar a analisar os dados.

Já vimos alguns que foram o de abrir e ler um arquivo de dados, usamos como exemplo o formato .csv, mas temos vários outros.

## Coletando informações básicas do nosso DataFrame

### Verificando o formato do dataset importado (shape) 
Para termos uma informação geral do que foi importado, como: 

*   Número de linhas;
*   Número de colunas;

Vamos utilizar um método chamado **shape**

In [5]:
# Retorna o número de linhas e colunas
alunos.shape

(300, 11)

In [0]:
# Retorna a quantidade de linhas
len(alunos)

300

### Verificando o index do DataFrame

In [0]:
alunos.index

RangeIndex(start=0, stop=300, step=1)

## Verificando os nomes das colunas
Retorna todos os nomes da coluna

In [6]:
#Quero saber quais são as colunas
alunos.columns

Index(['RA', 'Primeiro Nome', 'Sobrenome', 'Idade', 'AV1', 'AV2', 'média',
       'Total Faltas', 'Curso', 'Genero', 'Periodo'],
      dtype='object')

### Contagem de dados não-nulos

In [0]:
alunos.count()

RA               300
Primeiro Nome    300
Sobrenome        300
Idade            300
AV1              300
AV2              300
média            300
Total Faltas     300
Curso            300
Genero           300
Periodo          300
dtype: int64



---
## Manipulando um DataFrame


*   Nova coluna
*   Renomear alguma coluna

###Criando uma nova coluna. 
Depois que executar a nova coluna irá ser a ultima linha

In [0]:
alunos['Nova Coluna'] = alunos['Total Faltas'].mean()

In [0]:
# Exibe o DataFrame
alunos.head()



---



---

Renomeando colunas de um DataFrame

**obs**: Existem muitas formas de mudar o nome de uma coluna, aqui será apresentado uma forma simples

In [0]:
# Renomear uma coluna, informa o nome da coluna antiga e qual será a nova e como parametro
# o axis=1. O ponto head() só irá exibir as cinco primeiras linhas
alunos.rename({'Nova Coluna':'Ultima Coluna'}, axis=1).head()

            RA Primeiro Nome Sobrenome  ...     Genero   Periodo  Ultima Coluna
0  63227467787         Aaron  PHILLIPS  ...  Masculino  Matutino              0
1  55774275097       Abigail      SOTO  ...   Feminino  Matutino              0
2  76059134116          Adam    PARKER  ...  Masculino  Matutino              0
3  64295541703        Agatha  Oliveira  ...  Intersexo  Matutino              0
4  71033266097          Alan     JAMES  ...  Masculino  Matutino              0

[5 rows x 12 columns]



---

Vamos fazer um head

In [0]:
alunos.head()

            RA Primeiro Nome Sobrenome  ...     Genero   Periodo  Nova Coluna
0  63227467787         Aaron  PHILLIPS  ...  Masculino  Matutino            0
1  55774275097       Abigail      SOTO  ...   Feminino  Matutino            0
2  76059134116          Adam    PARKER  ...  Masculino  Matutino            0
3  64295541703        Agatha  Oliveira  ...  Intersexo  Matutino            0
4  71033266097          Alan     JAMES  ...  Masculino  Matutino            0

[5 rows x 12 columns]

Bom, continuou o mesmo, não mudou nada? 
Por padrão, as operações que efetuamos em um **DataFrame** não o afetam. Isto é, sempre que renomeamos, alterando ou removemos uma coluna, linha, etc, o Pandas devolve um novo DataFrame sem aquele dado. Logo, o DataFrame original se mantém intacto. Para contornarmos isso o jeito mais fácil é atribuir aquele resultado a mesma variável.

In [0]:
# Vamos fazer a mesma coisa, mas passando o valor para o mesmo dataset, desta vez 
# sem usar o headp()
alunos = alunos.rename({'Nova Coluna':'Ultima Coluna'}, axis=1)

### Remover colunas no pandas
Iremos utilizar o comando **drop** para excluirmos uma coluna do nosso dataset. Como feito quando renomeamos, temos que reatribuir a nossa DataFrame as alterações 

[Exemplo de refêrencia](https://www.alura.com.br/artigos/como-remover-linhas-e-colunas-no-pandas)

In [0]:
alunos.drop(columns=['Ultima Coluna'])

In [0]:
alunos.head(1)

            RA Primeiro Nome  ...     Genero   Periodo
0  63227467787         Aaron  ...  Masculino  Matutino

[1 rows x 11 columns]

In [0]:
alunos = alunos.drop(columns=['Ultima Coluna'])

In [0]:
alunos.head(1)

            RA Primeiro Nome  ...     Genero   Periodo
0  63227467787         Aaron  ...  Masculino  Matutino

[1 rows x 11 columns]

### Trabalhando com determinandas colunas
As vezes temos que trabalhar com algumas colunas que faz mais sentido naquele momento. Por exemplo, no nosso DataFrame, existe diversas colunas, como: RA, Nome, Notas, Curso e outros. Nesse contexto, para realizar a média não faria sentido com a coluna Nome, mas sim alguma que tenha valor numérico. Abaixo vamos fazer alguns exemplo de como obter uma ous mais colunas.

Para melhor organização é de boa prática criar um novo DataFrame para trabalhar somente com aqueles dados, evitando reescrita de código

In [0]:
# Pessa uma coluna para o novo DF
alunos_media = alunos['média']

Vamos mostrar o que nos trouxe

In [0]:
alunos_media.head(2)

0    9.0
1    6.5
Name: média, dtype: float64

E para pegar mais de uma colunas?

Bom, como comentado antes, existe várias formas de realizar essa ação, aqui será apresentado somente uma.

In [0]:
# Usando o método reindex
alunos_todas_notas = alunos.reindex(columns=['AV1', 'AV2', 'média'])

In [0]:
#Agora vamos exibir as duas primeiras linhas desse novo DataFrame criado
alunos_todas_notas.head(2)

   AV1  AV2  média
0    9    9    9.0
1    7    6    6.5

Agoa já temos o básico para trabalhar com um DataFrame, em aulas futuras veremos mais recursos sobre ele.

# Verificando resumo dos dados
Vamos verificar alguns métodos que nos retorna algumas informações importantes sobre o comportamento dos nossos dados no nosso DataFrame.

Vamos utilizar somente as colunas que contenham números para esses exemplo. 
Aqui podemos fazer de duas maneiras. Utilizar o DataFrame criado com as notas ou usar o DataFrame com todas as informações.



---



---

Para sabermos o valor da soma, valor máximo, valor mínimo, usamos os respectivos comandos.

In [10]:
# Soma da coluna Total de falta
soma = alunos['Total Faltas'].sum()
print(soma)

3629

In [11]:
# Valor máximo e mínimo
maximo = alunos['Total Faltas'].max()
minimo = alunos['Total Faltas'].min()
print('Máx', maximo, 'Mín', minimo)

Máx 22 Mín 4

Contando quantas linhas possui uma coluna, descartando os valores nulos
[Referências para count](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=counts)

In [0]:
alunos['RA'].count()

300

## Informações estatísticas
Nesse tópico iremos ver alguns métodos para realizarmos análise estatística

1.   Média
2.   Mediana
3.   Moda
4.   Medidas separatrizes
  *   Quartis
  *   Decil
  *   Percentil

### Média

In [13]:
média_da_turma = alunos['média'].mean()
print(round(média_da_turma, 0))

8.0

In [0]:
# No exemplo acima foi mostrado um número com muitas casas decimais
# vamos arredondar para duas casas depois da virgula
média_total_dos_alunos = round(alunos['média'].mean(), 2)

Aqui, usamos a função round e passamos como parametro a média e depois quantas casas depois da virgula.

In [0]:
# Vamos exibir
média_total_dos_alunos

7.83

### Mediana

In [14]:
# Retorna a mediana da coluna média
alunos['Total Faltas'].median()

12.0

# Medidas separatrizes (Quartis)

Os quartis, como visto em aula, são medidas que distribui os valores em partes, aqui vamos usar o método quantile() do pandas, por padrão ele retorna o Quartil 2 (mediana), mas podemos passar qual quartil, decil ou percentil queremo por parametrô.

In [15]:
# Retorna o quartil 2 (0.5)
alunos['Total Faltas'].quantile()

12.0

In [16]:
# Retorna o quartil 1
alunos['Total Faltas'].quantile(0.25)

9.0

In [18]:
# Retorna o quartil 3
alunos['Total Faltas'].quantile(0.75)

15.0

Para os outros, é só passar o valor por paramêtro

In [19]:
# Retorna o decil 10
alunos['Total Faltas'].quantile(0.10)

7.0

In [20]:
# Retorn o percentil 95
alunos['Total Faltas'].quantile(0.95)

18.0

## Resumo estatístico

O método describe() nos retorna os resumo para a uma analise estatística.

In [21]:
# Uso do método describe
alunos['Total Faltas'].describe()

count    300.000000
mean      12.096667
std        3.823968
min        4.000000
25%        9.000000
50%       12.000000
75%       15.000000
max       22.000000
Name: Total Faltas, dtype: float64

### Contar valores

Ok, já sabemos fazer isso com outros métodos, por exemplo o shape, mas se eu quiser saber quantas vezer um determinado dado aparece, por exemplo, contar a quantidade de pessoas de cada gênero ?

Nesse caso usamos o value_counts()

In [0]:
alunos['Genero'].value_counts()

Masculino    143
Feminino     140
Intersexo     17
Name: Genero, dtype: int64

Legal, sabemos os gêneros e a quantidade que de cada gênero existente nesse DataFrame.

Agora queremos saber algumas informações estatísticas sobre algumas colunas

In [0]:
alunos.query("Periodo=='Noturno'")

              RA Primeiro Nome  ...     Genero  Periodo
197  57150917852         Louis  ...  Masculino  Noturno
198  98697853336         Lucas  ...  Intersexo  Noturno
199  58912360748         Lucca  ...  Masculino  Noturno
200  95789459920         Luiza  ...   Feminino  Noturno
201  67495034437       Madison  ...   Feminino  Noturno
..           ...           ...  ...        ...      ...
295  80355209504         Wayne  ...  Masculino  Noturno
296  64876344668       William  ...  Masculino  Noturno
297  77611509140        Willie  ...  Masculino  Noturno
298  61821096538        Yasmin  ...   Feminino  Noturno
299  92179223683       Zachary  ...  Masculino  Noturno

[103 rows x 11 columns]



---



---